<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="navigationbar"> 
  <%= link_to 'Inicio', root_path %> &nbsp;
  <%= link_to 'Preguntas', ask_path %> &nbsp;
  </div>
    <%= yield %>
  </body>
</html>
